.btn {
  font-size: $body-size;
  font-weight: $fw-bold;
  letter-spacing: 2px;
  padding: 1rem 3rem;

  border: 2.5px solid $light;
  border-radius: $border-radius;

  background-color: transparent;
  color: $light;


  cursor: pointer;
  @extend .u-depth-1;
  
  &--mobile-menu {
    margin-top: 2rem;
    width: 100%;

    @extend .u-depth-2;

    @include media('>=tablet') {
      margin-top: 0;
      font-size: $link-size;

      background-color: var(--primary-red);
      border-color: var(--primary-red);

      transition: background-color .3s ease-in-out, color .3s ease-in-out;
      &:hover {
        background-color: transparent;
        color: var(--primary-red);
      }
    }
  }
}