.btn {
  display: inline-block;
  font-size: $boton-size;
  font-weight: $fw-xbold;
  text-transform: capitalize;
  // letter-spacing: 1px;
  padding: 1.2rem;

  border: 2.5px solid;
  border-color: var(--primary-blue);
  border-radius: $border-radius;

  background-color: var(--primary-blue);
  color: $light;


  cursor: pointer;
  @extend .u-depth-1;

  transition-property: background-color, border-color, color, box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: transparent;
    border-color: var(--primary-blue);
    color: var(--primary-blue);
    @extend .u-depth-1;
  }

  @include media('>=tablet') {
    padding: 1.2rem 2rem;
  }

  &--mobile-menu {
    margin-top: 2rem;
    width: 100%;
    color: $light;
    font-weight: $fw-bold;
    letter-spacing: 2px;

    @extend .u-depth-3;

    @include media('>=tablet') {
      margin-top: 0;
      padding: 1.2rem 3rem;
      font-size: $link-size;
      font-weight: $fw-xbold;

      background-color: var(--primary-red);
      border-color: var(--primary-red);

      &:hover {
        background-color: transparent;
        color: var(--primary-red);
        border-color: var(--primary-red);
      }
    }
  }

  &--gray {
    background-color: transparent;
    border-color: transparent;
    color: var(--gray-dark);

    &:hover {
      border-color: var(--gray-dark);
      color: var(--gray-dark);
    }
  }
}