.cards {
  margin-top: 2.5rem;

  @include media('>=tablet') {
    margin-top: 0;
  }

  $var: 0;
  @for $var from 0 to 3 {
    .card:nth-child(#{$var + 1}) {

      margin-top: #{$var * 5}rem;    
      $var: $var + 1; 
    }
  }
}
.card {
  --size: 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--light);
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, .5);

  transition-property: transform, box-shadow;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  @include media('>=tablet') {

    &:hover {
      transform: scale(1.04);
      box-shadow: 0px 15px 15px -1px rgba(0, 0, 0, .5);
    }
  }

  &__desc {
    padding: var(--size);
  }
  &__logo {
    width: 80%;
    margin: var(--size) auto;
  }
  &__subtitle {
    margin-top: -.5rem;
  }

  &__btn {
    margin: var(--size);
    width: calc(100% - (var(--size) * 2));
    text-align: center;
  } 
}