.collapsible {
  margin: 0 auto;

  .collapsible-header {
    transition: color .2s ease-in-out;

    &:hover {
      color: var(--primary-red);
    }
  }

  i {
    color: var(--primary-blue);
    transition: transform .3s ease-out, color .3s ease-out;
  }
}

.transform-arrow {
  transform: rotate(180deg);
  color: var(--primary-red)!important;
}