.header {
  position: relative;

  .nav {


    &__logo,
    &__hamburger {
      position: relative;
      z-index: $z-1;

    }


    &__links {
      position: absolute;
      left: 0;
      top: 0;
      padding-top: 9rem;

      visibility: hidden;
      background-color: var(--transparent-blue);

      transform: translateY(100%);
      transition: transform .5s ease-out, visibility .5s ease-out;

      @include media('>=tablet') {
        position: static;
        background-color: initial;
        padding: initial;
        visibility: visible;
        transform: translateY(0);
      }

      &.open {
        visibility: visible;
        transform: translateY(0);
      }
    }

    &__link {

      border-top: 1px solid transparentize($gray-blue, .7);
      letter-spacing: 2px;
      font-weight: $fw-bold;
      text-align: center;
      
      a {
        width: 100%;
        font-size: $body-size;
        display: inline-block;
        padding: 2rem;
        color: var(--light);

      }

      @include media('>=tablet') {
        border: initial;

        a {
          width: initial;
          padding: initial;
          margin-right: 4rem;
          font-size: $link-size;

          color: initial;

          transition: color .3s ease-in-out;

          &:hover {
            color: var(--primary-red);
          }
        }
      }
    }

    &__icons {
      position: absolute;
      bottom: 7%;
      align-self: center;

    }
  }
}