// Importar tipografia
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/********************* RESET *********************/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

// Por si un elemento se desborda
body {
    font-family: $primary-font;
    font-size: $body-size;
    // line-height: $line-height;
    color: var(--gray-blue);
    background-color: $light;

    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: var(--primary-blue) transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }
    
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-blue);
        border-radius: 20px;

        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: darken($color: $primary-blue, $amount: 2%);
        }
    }
}



h1,
h2,
h3 {
    // margin: 0;
    font-weight: $fw-xbold;
    line-height: var(--lh-title);
    margin-bottom: $body-size;
    color: var(--dark-blue);
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

p {
    font-family: $primary-font;
    font-weight: $fw-regular;
    line-height: var(--lh-body);
}

a {
    font-weight: $fw-regular;
    font-size: $link-size;
    color: var(--light);

    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
    transition: color .3s ease-in-out;

    &:hover {
        color: $primary-red;
    }
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

.no-scroll {
    overflow: hidden;
}


