:root {
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);

  --gray-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
  --transparent-blue: hsla(229, 31%, 21%, 0.8);

  --light: white;
  --dark: black;


  // Fonts
  --primary-font: Rubic, sans-serif;

  --body-size: 1.8rem;
  --link-size: calc(var(--body-size ) - 0.4rem);

  --fw-regular: 400;
  --fw-bold: 500;


  // General sizes
  --max-width: 120rem;
  --border-radius: .5rem;

}
$primary-blue: hsl(231, 69%, 60%);
$primary-red: hsl(0, 94%, 66%);
$gray-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);
$light: rgba(255, 255, 255, 0.9);
$dark: black;

// Sass
$primary-font: var(--primary-font);
$body-size: var(--body-size);
$link-size: var(--link-size);
$fw-regular: var(--fw-regular);
$fw-bold: var(--fw-bold);
$max-width: var(--max-width);
$border-radius: var(--border-radius);

$h1: 6.72rem;
$h2: 5.76rem;
$h3: 2rem;

$z-last: -9999;
$z-1: 1;
$z-2: 10;
$z-3: 100;
$z-4: 1000;

// Hamburger.js
$hamburger-layer-color: var(--dark-blue);

// Breakpoints
$breakpoints: (
  'phone': 420px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1280px
);