// Breakpoints
$breakpoints: ('phone': 420px,
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1280px);

:root {
  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);

  --gray-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
  --transparent-blue: hsla(229, 31%, 21%, 0.8);

  --light: white;
  --dark: black;


  // Fonts
  --primary-font: Rubic, sans-serif;

  --body-size: 1.6rem;
  --boton-size: 1.5rem;
  --link-size: calc(var(--body-size) - 0.4rem);
  --h1: 3rem;
  --h2: 2.5rem;
  --h3: 2rem;

  --lh-title: 1.4;
  --lh-body: 1.6;

  --fw-regular: 400;
  --fw-bold: 500;
  --fw-xbold: 700;


  // General sizes
  --max-width: 120rem;
  --border-radius: .5rem;

  @include media('>=tablet') {
    --h1: 4.8rem;
    --h2: 3.1rem;
    --lh-title: 1.2;

    --body-size: 1.7rem;
    --boton-size: 1.1rem;

  }
  @include media('>=laptop') {
    --boton-size: 1.5rem;
  }

}

$primary-blue: hsl(231, 69%, 60%);
$primary-red: hsl(0, 94%, 66%);
$gray-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);
$light: rgba(255, 255, 255, 0.9);
$dark: black;

// Sass
$primary-font: var(--primary-font);
$body-size: var(--body-size);
$boton-size: var(--boton-size);
$link-size: var(--link-size);

$lh-title: var(--lh-title);
$lh-body: var(--lh-body);
$fw-regular: var(--fw-regular);
$fw-bold: var(--fw-bold);
$fw-xbold: var(--fw-xbold);

$max-width: var(--max-width);
$border-radius: var(--border-radius);

$h1: var(--h1);
$h2: var(--h2);
$h3: var(--h3);

$z-last: -9999;
$z-1: 1;
$z-2: 10;
$z-3: 100;
$z-4: 1000;

